  <!-----------------Navbar Start-------------------------------------->
  <nav class="navbar" >
    <i class="las la-arrow-circle-left arrow" routerLink="/layout" > <a class="navbar-brand brand">Supplier</a></i>   
   </nav>
   <!-----------------Navbar End-------------------------------------->

   <!--------------Card start--------------------------------------->

  <div *ngFor="let supplierlist of supplierlistdata">
    <div class="row justify-content-center" style="margin-top:10px;">
      <div class="col-sm-6">
        <div class="card shadow bg-white">
          <div class="card-header" id="header">
            <h5 class="card-title"><span id="title"> {{supplierlist.company_name}} </span>
              <i class="las la-trash-alt trash" (click)="Passid(supplierlist.id)" data-toggle="modal" 
                href="#ConfirmModal">
              </i>
              <i class="las la-pen pen" routerLink="/addeditsupplier/{{supplierlist.id}}">
              </i>
            </h5>
          </div>
 
          <div class="row g-0" style="padding: 0px;line-height: 10%;">
              <div class="col-sm-10" id="contentdiv">
                <div class="row" >
                  <div class="col-md-6">
                  <p> Company Name : <label id="cmpyname" class="capitalize">{{supplierlist.company_name}}</label></p>
                </div>
                <div class="col-md-6">
                  <p> GSTIN : <label id="gst" class="capitalize">{{supplierlist.GSTIN}}</label></p>
                </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p >Address : <label id="address" >{{supplierlist.address}}</label></p> 
                  </div>
                  <div class="col-md-6" >
                    <p>City : <label id="cty" >{{supplierlist.city}}</label> </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6" >
                    <p >State :  <label id="state" >{{supplierlist.state}}</label></p>
                  </div>
                  
                  <div class="col-md-6">
                    <p >Country : <label id="country">{{supplierlist.country}}</label></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p> Pincode : <label id="pincode">{{supplierlist.pincode}}</label> </p>
                  </div>
                  <div class="col-md-6">
                    <p> Mobile No : <label id="mobno">{{supplierlist.phoneno}}</label></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p>Contact Person :  <label id="person">{{supplierlist.contactperson}}</label></p>
                  </div>
                  <div class="col-md-6">
                    <p>Email : <label id="email">{{supplierlist.email}}</label></p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--------------------------Card End---------------------------------------------->

<!--------------------------Delete Popup start------------------------------------>
  <div id="ConfirmModal" class="modal" *ngFor="let supplierlist of supplierlistdata;">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-header flex-column" data-target=".bd-example-modal-sm">
         
          <h3 class="modal-title" style="display: flex;"><i class="las la-exclamation-triangle" id="dangericon"></i> Are you sure? </h3>
        
        </div>
        <div class="modal-body">
          <p>Do you really want to delete <strong id="productname"></strong> record? </p>
          <p>This process cannot be undone.</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>Cancel</b></button>
          <button type="btn" class="btn btn-outline-danger"
            data-toggle="modal" data-target="#SuccessModalDelete" data-dismiss="modal"
            style="background-color: #A11F21;color: aliceblue;" (click)="deletesupplier(getsupplierId)"><b>Delete</b></button>
        </div>
      </div>
    </div>
  </div>
  <div #SuccessModalDelete id="SuccessModalDelete" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <div class="modal-body" >
          <div style="text-align:center;"><i class="fa fa-info-circle fa-5x center" id="productname" aria-hidden="true"></i></div>
          <p id="smsg" style="text-align:center;">ClientInfoirmation Details Deleted successfully</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><b>Close</b></button>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------Delete Popup End------------------------------------>

<!--------------------------Plus  start-------------------------------------------->
  <a href="#" class="float" routerLink="/addeditsupplier">
    <i class="la la-plus plus"></i>
  </a>

   
